<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/AdminLogin.css" />
  </head>
  <body>
    <div id="fav-ico"></div>
    

    <div id="Main-Content">
      <form method="post">
        <div id="MCT"><label id="Main-Content-Title">Login</label><br /></div>
         <div id="Main-Content-Child">
        <label class="Main-Content-Heading">RollNumber</label><br />
        <input class="Input-Box" type="text" placeholder="Enter Your RollNumber" required /><br />
        <label class="Main-Content-Heading" for="Password">Password</label><br />
        <input class="Input-Box" type="text" placeholder="Enter Your Passowrd" required /><br />
        
        <input id="Form-Button" type="submit" value="Sumbit" />
       
      </div>
       
      </form>
    </div>

    <div id="footer">
     <span>&copy;Copyright 2024 Shobhit University Online Examination System. All rights reserved</span>
    </div>
  </body>
</html>
