<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/Homepage.css" />
  </head>
  <body>
    <div class="root">
      <div class="nav-bar">
        <p id="title">Online Examination System</p>
        <span id="author"> Developed By: Muqaddas</span>
      </div>
    </div>

    <div class="root">
      <div class="type">
        <a class="data-type" href="/">Homepage</a>
        <a class="data-type" href="/AdminLogin">Teacher</a>
        <a class="data-type" href="/StudentLogin">Student</a>
      </div>
    </div>

    <div id="root-content" class="root">
      <div id="content">
        <p class="instruction">
          <span>
            Welcome to
            <span id="highlight">
              Shohbit University Online Examination System</span
            ></span
          >
        </p>
        <br />

        <p class="instruction">
          If you are a Techer, click on the Teacher link to login into the Admin
          section.
        </p>
        <br />
        <p class="instruction">
          If you are a Student,click on the Student link to login into the
          Student section.
        </p>
      </div>
    </div>

    <div class="root">
      <div id="footer">
        <span>Online Examination Systems</span>
      </div>
    </div>
  </body>
</html>
